BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 70
MaxEmptyLinesToKeep: 1
AllowShortBlocksOnASingleLine: true
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
